*{
    font-family: sans-serif;
}
.container{
    height:45px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 40px auto;
    margin-bottom: 0;
    flex-wrap: wrap;

}
.container input{
    height: 30px;
    width: 350px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
.container button{
    height: 30px;
    padding: 0;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
}
.text-center p{
    margin-top: 0.5rem;
    margin-bottom: 0;
}